@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* $gradient1: rgb(84, 51, 255);
$gradient2: rgb(32, 189, 255);
$gradient3: rgb(165, 254, 203); */
main_section1 {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 5px;
}

.main section {
  margin-top: 3rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  gap: 30px;
}

.section1__article {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px);
  text-align: center;
  margin-bottom: 15px;
}

.section1__article img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 15px;
}

.section1__h6 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.section1__button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section1__button:hover {
  background-color: #0056b3;
}

/* footer */
.footer {
  background-color: #333;
  padding: 40px 0;
  font-size: 14px;
  color: #333;
}

.footer_section {
  padding: 20px;
  flex: 1;
}

.footer__section h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

/* Liên kết trong footer */
.footer__section p a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

/* Đổi màu khi hover vào liên kết */
.footer__section p a:hover {
  color: #007bff;
}

/* Thêm khoảng cách và căn chỉnh cho footer__div */
.footer__div {
  display: flex;
  gap: 15px;
  justify-content: start;
}

/* Định dạng cho các icon social media */
.footer__div i {
  color: white;
  font-size: 24px; /* Điều chỉnh kích cỡ icon */
  transition: color 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng khi hover */
}

/* Thêm hiệu ứng hover cho các icon social media */
.footer__div i:hover {
  color: #007bff;
  transform: scale(1.2); /* Phóng to icon khi hover */
}

.footer__section p {
  color: white;
  font-size: 14px;
  margin-top: 10px; /* Khoảng cách giữa icon và text */
}

/* Định dạng form trong footer */
.footer__section form {
  margin-top: 20px;
}

.footer__section .form__p {
  display: flex;
  align-items: center;
}

.footer__section input[type=email] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 80%;
}

form fieldset .offscreen {
  color: white; /* Đổi màu chữ của phần legend có lớp "offscreen" */
}

.footer__section .email__button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer__section .email__button i {
  font-size: 18px;
}

/* Định dạng footer cuối cùng */
.text-center {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: white;
}

.margintop2 {
  margin-top: 40px;
}

/* Định dạng cho main__section1 trong body */
.smain {
  margin-left: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 800px) {
  .smain {
    flex-direction: row;
  }
}
.smain .smain__p {
  font-weight: lighter;
}
.smain .smain__p:hover {
  color: hsla(0, 0%, 20%, 0.7);
}

.scontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  border: 1px solid black;
  border: none;
}

.main__section2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  border: 1px solid black;
  border: none;
}
.main__section2 .section2__h3 {
  font-size: 200%;
  text-align: center;
  font-weight: bold; /* In đậm */
  color: black;
  grid-column: span 4;
}
.main__section2 .section2__mainarticle, .main__section2 .section2__mainarticle2 {
  grid-column: span 7;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 1rem;
  background: #333;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #fff;
  padding: 1rem;
  margin: 1rem;
  color: #e0e0e0;
  border: rgba(255, 255, 255, 0.2) solid 1px;
}
.main__section2 .section2__mainarticle h6, .main__section2 .section2__mainarticle2 h6 {
  align-self: flex-end;
  border-radius: 1rem;
  background: linear-gradient(145deg, #2e2e2e, #373737);
  box-shadow: 10px 10px 20px #2b2b2b, -10px -10px 20px #3b3b3b;
  display: inline-block;
  padding: 1rem;
  margin: 0;
  border: rgba(51, 51, 51, 0.2) solid 1px;
  color: #e0e0e0;
  margin-top: 1.5rem;
  background: rgba(84, 51, 255, 0);
  background-clip: text;
  transition: all 0.5s;
}
.main__section2 .section2__mainarticle h6:hover, .main__section2 .section2__mainarticle2 h6:hover {
  background: linear-gradient(135deg, #62cff4, #2c67f2, #62cff4);
  color: transparent;
  background-clip: text;
  animation: animateBorder 10s linear infinite;
  background-size: 400%;
}
.main__section2 .section2__mainarticle h6:active, .main__section2 .section2__mainarticle2 h6:active {
  border-radius: 1rem;
  background: linear-gradient(145deg, #2e2e2e, #373737);
  box-shadow: 10px 10px 20px #2b2b2b, -10px -10px 20px #3b3b3b;
  display: inline-block;
  padding: 1rem;
  margin: 0;
  border: rgba(51, 51, 51, 0.2) solid 1px;
  box-shadow: inset 5px 5px 10px #2b2b2b, inset -5px -5px 10px #3b3b3b;
  color: inherit;
  margin-top: 1.5rem;
}
.main__section2 .section2__mainarticle .nowrap, .main__section2 .section2__mainarticle2 .nowrap {
  background: linear-gradient(135deg, #62cff4, #2c67f2, #62cff4);
  color: transparent;
  background-clip: text;
  animation: animateBorder 10s linear infinite;
  background-size: 400%;
  text-align: center;
}
.main__section2 .section2__mainarticle2 {
  align-items: flex-start;
}
.main__section2 .section2__mainarticle2 h3 span {
  border-radius: 1rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 10px 10px 20px #2b2b2b, -10px -10px 20px #3b3b3b;
  display: inline-block;
  padding: 1rem;
  margin: 0;
  border: rgba(51, 51, 51, 0.2) solid 1px;
  color: #333;
}
.main__section2 .section3__carousel {
  grid-column: span 2;
}
.main__section2 .section3__carousel .section3__article {
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  display: inline-block;
  padding: 1rem;
  margin: 2rem;
  border: rgba(255, 255, 255, 0.2) solid 1px;
}
.main__section2 .section3__carousel .section3__article img {
  margin-bottom: 1rem;
  border-radius: 10px 10px 0 0;
}
.main__section2 .section3__carousel .section3__article .section3__text {
  display: grid;
  grid-template-rows: 3rem 1rem 1fr;
}
.main__section2 .section3__carousel .section3__article .section3__div {
  display: flex;
  flex-flow: inherit;
  align-items: inherit;
  justify-content: space-around;
}
.main__section2 .section3__carousel .section3__article .section3__div .section3__ctn {
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  border: rgba(255, 255, 255, 0.2) solid 1px;
  background: rgba(84, 51, 255, 0);
  background-clip: text;
  transition: all 0.5s;
}
.main__section2 .section3__carousel .section3__article .section3__div .section3__ctn:hover {
  background: linear-gradient(135deg, #62cff4, #2c67f2, #62cff4);
  color: transparent;
  background-clip: text;
  animation: animateBorder 10s linear infinite;
  background-size: 400%;
}
.main__section2 .section3__carousel .section3__article .section3__div .section3__ctn:active {
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  border: rgba(255, 255, 255, 0.2) solid 1px;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  color: #333;
}

.main .main__p {
  font-weight: lighter;
}

.main .main__p:hover {
  color: hsla(0, 0%, 20%, 0.7);
}

.right {
  text-align: right;
}

/*# sourceMappingURL=main.css.map */
